<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70dadb64-a6fb-431b-9398-c4c507b7e673" Alias="basePage" Level="1">
  <Info>
    <Name>BasePage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="27822977-fe79-4a03-9a9a-3ba45c100a6a">navigation</Composition>
      <Composition Key="36c62ef0-4386-4eb2-9c21-3e5a7358fcff">searchEngineOptimization</Composition>
    </Compositions>
    <DefaultTemplate>BasePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="26d39285-e5d4-46e1-99bd-16b81c4d2ce4">BasePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>875e368e-3e3e-49a8-8f5f-aec9164b2169</Key>
      <Name>Grille</Name>
      <Alias>grid</Alias>
      <Definition>91b6093c-a4b0-41d7-9a5c-ec53f7818b63</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenu">Contenu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>052ae36f-a25a-405c-81a6-02c12b2a1a82</Key>
      <Caption>Contenu</Caption>
      <Alias>contenu</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>