<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58746ede-7bc0-4f29-8283-c06987bdd050" Alias="films" Level="1">
  <Info>
    <Name>Films</Name>
    <Icon>icon-movie color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="27822977-fe79-4a03-9a9a-3ba45c100a6a">navigation</Composition>
      <Composition Key="36c62ef0-4386-4eb2-9c21-3e5a7358fcff">searchEngineOptimization</Composition>
    </Compositions>
    <DefaultTemplate>Films</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8a25c6f3-ab87-4dbd-a713-7f866c18f79d">Films</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="342ce10c-adc4-4d74-a104-0fb8881356d1" SortOrder="0">film</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>28f90eb3-533a-4dd6-828d-14fb8cad2a4c</Key>
      <Name>Sous-titre du header</Name>
      <Alias>headerSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contenu">Contenu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1e634661-682d-4470-913d-073a7283c78a</Key>
      <Name>Titre du header</Name>
      <Alias>headerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenu">Contenu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>04cf252e-5923-4f26-9cbb-0449e5c7e71f</Key>
      <Caption>Contenu</Caption>
      <Alias>contenu</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>