<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2081cf30-8563-47cb-93d3-20a86b0ea6a0" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="27822977-fe79-4a03-9a9a-3ba45c100a6a">navigation</Composition>
      <Composition Key="36c62ef0-4386-4eb2-9c21-3e5a7358fcff">searchEngineOptimization</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4f21e441-4fad-4483-ba65-f0406b3ca428">Homepage</Template>
      <Template Key="f5e18580-232a-4b6e-a8aa-1ce66985b80b">Homepage2</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="58746ede-7bc0-4f29-8283-c06987bdd050" SortOrder="0">films</ContentType>
    <ContentType Key="70dadb64-a6fb-431b-9398-c4c507b7e673" SortOrder="1">basePage</ContentType>
    <ContentType Key="63770541-161b-47f0-8c00-42f402f874b6" SortOrder="2">intro</ContentType>
    <ContentType Key="bdc72c09-6358-4e30-9a47-c87ef6734a9c" SortOrder="3">sitemap</ContentType>
    <ContentType Key="ce5c72bd-3b5d-4e33-9b38-6c2b32748f65" SortOrder="4">robotsTxt</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8c2f8ad9-9a63-42e6-881f-4e0461355698</Key>
      <Name>Grille</Name>
      <Alias>grid</Alias>
      <Definition>91b6093c-a4b0-41d7-9a5c-ec53f7818b63</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenu/body">Body</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c5f0460-c7a8-4fa7-956e-eda2f24cc06e</Key>
      <Name>Sous-titre du header</Name>
      <Alias>headerSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contenu/header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40ef818e-a7c2-4a10-b00f-307bcf5af8fb</Key>
      <Name>Titre du header</Name>
      <Alias>headerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenu/header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ebea1c44-0776-4045-af06-bd14481dbb6c</Key>
      <Caption>Contenu</Caption>
      <Alias>contenu</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>c76fedd5-256e-4244-b48f-923820ca09ae</Key>
      <Caption>Header</Caption>
      <Alias>contenu/header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>636e73bc-db60-44dd-9c84-04dbd6edcea4</Key>
      <Caption>Body</Caption>
      <Alias>contenu/body</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>