@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Films>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<div class="main">
	<div class="area">
		<h1>@Model.HeaderTitle</h1>
		<h3>@Model.HeaderSubtitle</h3>
	</div>

</div>