<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0ee7ca0c-e5b5-4bf8-9041-527c894a6a09" Alias="Site.Film.SearchPlaceholder" Level="2">
  <Info>
    <Parent>Site.Film</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Entrez un nom ou une catégorie</Translation>
  </Translations>
</Dictionary>