<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bc8e5d56-cd05-4913-a280-581801f35982" Alias="Site.Film.Duration" Level="2">
  <Info>
    <Parent>Site.Film</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Duration</Translation>
    <Translation Language="fr">Durée</Translation>
  </Translations>
</Dictionary>