<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d0df4666-581a-4d26-b423-a1d1ae051e6b" Alias="Site.Film.DurationUnit" Level="2">
  <Info>
    <Parent>Site.Film</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">min.</Translation>
    <Translation Language="fr">min.</Translation>
  </Translations>
</Dictionary>