<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8a0fc2e-0f21-4e52-b4ee-4c269e056598" Alias="TestEditor" Level="1">
  <Info>
    <Name>TestEditor</Name>
    <EditorAlias>MySuperFilm.TestEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>